<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <app-dashmenu></app-dashmenu>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <h2>Inicio</h2>
        <hr>
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col">
                    <div class="counters">
                        <img class="counticon" src="assets/images/002-multiple-users-silhouette.png" alt="users">
                        <h3>340</h3>
                        <span>Usuarios</span>
                    </div>
                </div>
                <div class="col">
                    <div class="counters">
                        <img class="counticon" src="assets/images/003-writing.png" alt="users">
                        <h3>340</h3>
                        <span>Publicaciones</span>
                    </div>
                </div>
                <div class="col">
                    <div class="counters">
                        <img class="counticon" src="assets/images/004-internet.png" alt="users">
                        <h3>340</h3>
                        <span>Recursos</span>
                    </div>
                </div>
            </div>
        </div>




    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->