<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <app-dashmenu></app-dashmenu>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-10">
                    <h2>Publicaciones</h2>
                </div>
                <div class="col-2">
                    <a name="" id="newbtn" class="btn btn-primary" href="#" role="button">Nueva publicacion</a>
                </div>
            </div>
            <hr>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->