<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <app-dashmenu></app-dashmenu>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-10">
                    <h2>Publicaciones</h2>
                </div>
                <div class="col-2">
                    <a name="" id="newbtn" class="btn btn-primary" href="/postform" role="button">Nueva</a>
                </div>
            </div>
            <hr>
            <!--Search form-->
            <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            <!--Table-->

            <div *ngIf="Posts.length !== 0">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Titulo</th>
                            <th scope="col">Tag</th>
                            <th scope="col">Fecha de publicación</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let post of Posts;let i = index">
                            <td>{{i+1}}</td>
                            <td>{{post.title}}</td>
                            <td>{{post.category.name}}</td>
                            <td>{{post.createdat}}</td>
                            <td><a class="btn btn-primary" (click)="updateUser()">Actualizar</a> <a class="btn btn-danger" (click)="deleteUser()">Eliminar</a></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->