<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <app-dashmenu></app-dashmenu>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">

        <div class="container-fluid">
            <div class="row">
                <div class="col-10">
                    <h2>Usuarios</h2>
                </div>
                <div class="col-2">
                    <a name="" id="newbtn" class="btn btn-primary" href="/userform" role="button">Nuevo</a>
                </div>
            </div>
            <hr>

            <!-- Search form -->
            <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            <!--Table-->
            <div>
                <div *ngIf="Users.length !== 0">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Ci</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellido</th>
                                <th scope="col">Rol</th>
                                <th scope="col">Titulacion</th>
                                <th scope="col">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of Users">
                                <td>{{user.ci}}</td>
                                <td>{{user.name}}</td>
                                <td>{{user.lastname}}</td>
                                <td>{{user.rol.name}}</td>
                                <td>{{user.titulation.name}}</td>
                                <td><a class="btn btn-primary" (click)="updateUser()">Actualizar</a> <a class="btn btn-danger" (click)="deleteUser()">Eliminar</a></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>


            <!-- <img src="assets/images/ascenlogo.svg" id="ascenlogo"> -->
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->